Repository hairihou/ionic-sandbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

docs: readme
  README.md
Due: prettier --write

feat: hybrid
  package-lock.json
  src/app/app.component.ts
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.scss
  src/app/tab1/tab1.page.ts
  src/app/tab2/tab2.page.html
  src/app/tabs/services/tabs.service.ts
  src/app/tabs/tabs.page.html
  src/app/tabs/tabs.page.scss
  src/app/tabs/tabs.page.ts
  src/global.scss
  src/theme/overwrite.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore: update ionic
  package-lock.json
  package.json
Due: prettier --write

wip: platform
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.scss
  src/app/tab1/tab1.page.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
  src/app/tabs/tabs.page.html
  src/global.scss
  src/theme/overwrite.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore: package
  package-lock.json
Due: prettier --write

chore: chore
  package-lock.json
  package.json
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

chore: cypress
  angular.json
  cypress.json
  cypress/integration/spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/global.scss
  src/theme/overwrite.scss
Due: prettier --parser typescript --write, prettier --parser scss --write, prettier --write

fix: remove unused test
  src/app/app.component.spec.ts
Due: prettier --parser typescript --write

fix: run e2e
  cypress/fixtures/example.json
  cypress/integration/spec.ts
Due: prettier --parser typescript --write, prettier --write

chore: add ios
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/App/App.xcworkspace/contents.xcworkspacedata
  ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/App/App/AppDelegate.swift
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/App/Assets.xcassets/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/Base.lproj/Main.storyboard
  ios/App/App/Info.plist
  ios/App/App/capacitor.config.json
  ios/App/App/config.xml
  ios/App/Podfile
  package-lock.json
  package.json
Due: prettier --write

chore: rename repository
  README.md
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/values/strings.xml
  capacitor.config.ts
  ionic.config.json
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/Info.plist
  ios/App/App/capacitor.config.json
  package-lock.json
  package.json
Due: prettier --parser typescript --write, prettier --write

chore: package
  package-lock.json
  package.json
Due: prettier --write

wip: sample data
  karma.conf.js
  package-lock.json
  package.json
  src/app/interfaces/sample-data.interface.ts
  src/app/tab2/tab2.page.spec.ts
  src/app/tab3/tab3.module.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.spec.ts
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

wip(interceptor): feat
  src/app/app.module.ts
  src/app/interceptors/present-toast.interceptor.spec.ts
  src/app/interceptors/present-toast.interceptor.ts
  src/app/services/http.service.spec.ts
  src/app/services/http.service.ts
  src/app/tab3/tab3.page.spec.ts
  src/app/tabs/services/tabs.service.ts
Due: prettier --parser typescript --write

fix: test
  src/app/app.component.spec.ts
  src/app/explore-container/explore-container.component.spec.ts
  src/app/services/http.service.spec.ts
  src/app/tab1/tab1.page.spec.ts
  src/app/tab2/tab2.page.spec.ts
  src/app/tab3/tab3.page.spec.ts
  src/app/tabs/tabs.page.spec.ts
Due: prettier --parser typescript --write

wip: test
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/interceptors/present-toast.interceptor.spec.ts
  src/app/test/test.module.ts
Due: prettier --parser typescript --write, prettier --write

wip: test
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/interceptors/present-toast.interceptor.spec.ts
Due: prettier --parser typescript --write

test: spy
  src/app/app.component.spec.ts
  src/app/test/test.module.ts
Due: prettier --parser typescript --write

chore: font-family
  src/app/tab2/tab2.page.html
  src/global.scss
  src/theme/overwrite.scss
Due: prettier --parser angular --write, prettier --parser scss --write

chore: font
  package-lock.json
  package.json
  src/theme/overwrite.scss
Due: prettier --parser scss --write, prettier --write

chore: remove ncu
  package-lock.json
  package.json
Due: prettier --write

chore
  package-lock.json
  package.json
Due: prettier --write

chore: eslint
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

update ionic
  package-lock.json
  package.json
Due: prettier --write

chore
  src/app/tab3/tab3.page.ts
Due: prettier --parser typescript --write

chore: update @angular/cli
  package-lock.json
  package.json
Due: prettier --write

chore: swiper
  package-lock.json
  package.json
  src/global.scss
Due: prettier --parser scss --write, prettier --write

chore
  .eslintrc.json
  .eslintrc.yml
  .lintstagedrc.json
  .lintstagedrc.yml
  README.md
Due: prettier --write

feat(tab3): virtual scroll
  .lintstagedrc.yml
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
  src/global.scss
  src/theme/overwrite.scss
  src/theme/variables.scss
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

fix: remove unused module
  src/app/directives/large-title-header.directive.spec.ts
  src/app/directives/large-title-header.directive.ts
  src/app/explore-container/explore-container.module.ts
  src/app/interfaces/sample-data.interface.ts
  src/app/services/http.service.ts
  src/app/tab1/tab1-routing.module.ts
  src/app/tab1/tab1.module.ts
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.spec.ts
  src/app/tab2/tab2-routing.module.ts
  src/app/tab2/tab2.module.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.spec.ts
  src/app/tab3/tab3-routing.module.ts
  src/app/tab3/tab3.module.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.spec.ts
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
  src/app/tabs/tabs-routing.module.ts
  src/app/tabs/tabs.module.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

feat: wiki
  src/app/interfaces/sample-data.interface.ts
  src/app/services/http.service.spec.ts
  src/app/services/http.service.ts
  src/app/tab1/tab1.page.ts
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.scss
  src/app/tab2/tab2.page.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

fix: text white-space
  src/app/tab2/tab2.page.html
  src/app/tab2/tab2.page.scss
Due: prettier --parser angular --write, prettier --parser scss --write

chore: angular-eslint
  package-lock.json
  package.json
Due: prettier --write

wip: wip
  src/app/core/core.module.ts
  src/app/tab1/components/explore-container/explore-container.component.html
  src/app/tab1/components/explore-container/explore-container.component.scss
  src/app/tab1/components/explore-container/explore-container.component.spec.ts
  src/app/tab1/components/explore-container/explore-container.component.ts
  src/app/tab3/modals/slide-image/slide-image.page.html
  src/app/tab3/modals/slide-image/slide-image.page.scss
  src/app/tab3/modals/slide-image/slide-image.page.spec.ts
  src/app/tab3/modals/slide-image/slide-image.page.ts
  src/app/tab3/tab3-routing.module.ts
  src/app/tab3/tab3.module.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
  src/app/tabs/tabs-routing.module.ts
  src/app/tabs/tabs.module.ts
  src/assets/images/1253x756.jpeg
  src/assets/images/756x1253.jpeg
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
  prettier --write: any of: *.{json,md,js}
