Repository hairihou/ionic-sandbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write, prettier --write

chore: chore
  package-lock.json
  package.json
  src/app/tab3/tab3.page.html
Due: prettier --parser angular --write, prettier --write

chore
  .eslintrc.json
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: ng
  package-lock.json
  package.json
Due: prettier --write

lint
  .eslintrc.json
  src/app/app-routing.module.ts
  src/app/tab1/components/explore-container/explore-container.component.ts
  src/app/tabs/tabs-routing.module.ts
Due: prettier --parser typescript --write, prettier --write

chore
  src/app/app.component.ts
Due: prettier --parser typescript --write

chore: update ionic
  package-lock.json
  package.json
Due: prettier --write

chore: package
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --parser typescript --write, prettier --write

feat: scrollFn
  src/app/tab3/modals/virtual-content/virtual-content.page.html
  src/app/tab3/modals/virtual-content/virtual-content.page.scss
  src/app/tab3/modals/virtual-content/virtual-content.page.spec.ts
  src/app/tab3/modals/virtual-content/virtual-content.page.ts
  src/app/tab3/tab3.module.ts
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  src/app/tab3/tab3.page.html
  src/app/tab3/tab3.page.scss
  src/app/tab3/tab3.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --parser scss --write

chore
  src/app/interceptors/present-toast.interceptor.spec.ts
Due: prettier --parser typescript --write

chore
  package-lock.json
  package.json
Due: prettier --write

wip: ng update
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --parser typescript --write, prettier --write

wip: ngrx
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

wip: ng cli
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

wip: cdk
  package-lock.json
  package.json
Due: prettier --write

chore: chore
  package-lock.json
  package.json
Due: prettier --write

ng update
  package-lock.json
  package.json
Due: prettier --write

chore
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/directives/large-title-header.directive.spec.ts
  src/app/core/directives/large-title-header.directive.ts
  src/app/core/interceptors/present-toast.interceptor.spec.ts
  src/app/core/interceptors/present-toast.interceptor.ts
  src/app/core/interfaces/sample-data.interface.ts
  src/app/tab1/components/explore-container/explore-container.component.ts
  src/app/tab1/tab1.page.html
  src/app/tab2/tab2.page.ts
  src/app/tab3/tab3.page.ts
  src/app/tabs/services/tabs.service.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

chore
  package-lock.json
  package.json
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

chore: ng update
  package-lock.json
  package.json
  src/app/tab1/tab1.page.html
  src/app/tab1/tab1.page.ts
Due: prettier --parser typescript --write, prettier --parser angular --write, prettier --write

c
  src/app/core/services/http.service.spec.ts
  src/app/core/services/http.service.ts
  src/app/tab1/tab1.page.ts
Due: prettier --parser typescript --write

chore: update angular
  package-lock.json
  package.json
Due: prettier --write

chore: update swiper
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --parser angular --write: any of: *.html
  prettier --parser scss --write: any of: *.scss
  prettier --write: any of: *.{json,md,js}
